footer {
  background-color: var(--grey);
}

.stripe {
  background: linear-gradient(
293deg
, var(--yellow) 5%, var(--grey)94%);
  height: 10px;
}

.boxes {
  height: 100%;
  margin: 0 auto;
  max-width: 600px;
  width: 60%;
}

.box {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  width: 80px;
}

.options {
  color: var(--white);
}