@media only screen and (min-width: 991px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
  .info {
    margin-bottom: -60px;
  }
.container {
flex-direction: row;
align-items: center;
}
.photos2 {flex-direction: row;}

.imge {height: 80px;
width: 80px;}

.boxes {flex-direction: row;
justify-content: space-between;}
}