* {
  box-sizing: border-box;
}

:root { 
  --grey: rgb(134, 126, 126);
  --yellow: rgb(224, 172, 0);
  --white: rgb(255, 255, 255);
}

body {
  background-color: var(--white);
  margin: 0;
  min-width: 320px;
}

header {
  background-color: var(--grey);
}

.navbar {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  width: 60%;

}

.logo {
  color: var(--white);
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  margin: 10px;
}

input {
  background-image: url('download/search-icon-free-vector.jpg');
  background-position: 10px 4px;
  background-repeat: no-repeat;
  background-size: 20px;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 5px 20px 5px 40px;
  width: 120px;
}


.info {
  background: linear-gradient(90deg, var(--yellow) 5%, var(--grey)94%);
  height: 350px;
  margin-bottom: 10px;
}

img {
  border-radius: 50%;
  width: 100%;
}

h1 {
  color: var(--grey);
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
}



